    
    <div class="div1">
        <img src="https://www.gartner.com/pi/vendorimages/kore_1596025947461.png"><br>
        <img src="https://ugc.futurelearn.com/uploads/images/ce/43/header_ce431033-a678-4d5f-971f-6eb72417cb51.jpg" class="image1">
        <div class="div2">
            <h1>Innovative</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <button class="btn btn-secondary" (click)="btnclick()">Click here</button>
        </div>
    </div>
    {{title}}



